



.w3-top {
	background-color: rgba(255, 255, 255, 0.5);
}


.dropdown {
	float: left;
	overflow: hidden; 
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }

  .dropdown-submenu {
	position: relative;
  }
  
  .dropdown-submenu .dropdown-content {
	top: 0;
	left: 100%;
	margin-top: -1px;
  }

  .dropthree-submenu {
	position: relative;
  }
  
  .dropthree-submenu .dropdown-content {
	top: 50;
	left: 100%;
	margin-top: -1px;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	background-color: #f9f9f9;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }

.flex-container {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	justify-content: center; 
	align-items: center; 
  
	background-color: black;
	padding: 5px;

	position: absolute;
	left: 20%;
	right: 20%;
	top: 35%; /* move the box up or down */
}

.abtflex-container {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	justify-content: center; 
	align-items: center; 
  
	background-color: black;
	padding: 5px;

	position: absolute;
	left: 20%;
	right: 20%;
	top: 25%; /* move the box up or down */
}

.heading-home {
	padding: 2%;
	color: white;
	font-size: 50px;
	letter-spacing: 10px;
	line-height: 60px;
	text-align: center;
	/* font-family: "Fredericka the Great", cursive; */
}

.main-message,
.img-abt,
.img-cla,
.img-int {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
	min-height: 750px; 

  /* for parallax scrolling effect */
 	background-attachment: fixed;
}

.main-message {
	background-image: url("images/ajas.jpeg");
}

form {
	text-align: center;
}

.img-abt {
	background-image: url("images/about.jpg");
}

.text-section {
	background-color: white;
	padding: 10px 45px;
	text-align: center;
  }

.element-row {
	display: flex;
  }
  
  .profile-pic {
	width: 180px;
	height: 170px;
  }

.img-cla {
	background-image: url("images/classes.jpeg");
}

.img-int {
	background-image: url("images/int.JPG");
}


.preamble {
	display: flex;
	padding: 4%;
  }
  .toc-container {
	border: 1px solid #a2a9b1;
	background-color: #404040;
	font-size: 25px;
  }
  .toc {
	display: table;
	padding: 7px;
	flex: 0 1 auto;
	color: white;
  }
  .toc li {
	font-family: "Source Sans Pro", sans-serif;
  }
  .toc a:-webkit-any-link {
	color: #b3b3ff;
	text-decoration: none;
	cursor: pointer;
	text-decoration: underline;
  }
  
  .toc a:hover {
	color: yellow;
  }

  .bullet-class {
	list-style-position: inside;
  }

  .class-list {
	list-style-position: inside;
	text-align: left;
	margin-left: 40%;
  }



  /* Holds all elements related to the action item list; inside the action-list-container */
#checklist {
	background-color: white;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-style: solid;
	border-color: yellow;
	/*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  }
  

  /* The div container for the unordered action item list */
#my-list {
	padding: 10px 0 0 0;
	margin: 0;
	font-size: 10pt;
  }
  
  /* Styling for individual action list items */
  #my-list li {
	cursor: pointer;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 8px; 
	padding-left: 35px;
	position: relative;
	list-style-type: none;
	transition: 0.2s;
	width: 85%;
	color: black;
	/*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  }
  
  /* Styling for the check squares added at the beginning of each list item */
  #my-list li::before {
	content: "";
	position: absolute;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	
	top: 15px;
	left: 13px;
	height: 10px;
	width: 10px;
  }

  /* Change background color when cursor hovers over list items */
#my-list li:hover {
	background: #000000;
	color: #ffffff;
  }
  
  /* Change check square color when cursor hovers over */
  #my-list li:hover::before {
	border-color: #ffff00;
	border-style: dotted;
  }
  
  /* When marked complete (i.e. clicked on) add strikethrough */
  #my-list li.all-done {
	text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #my-list li.all-done::before {
	content: "";
	position: absolute;
	border-color: red;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 5px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
  }

  h1 {
	letter-spacing: 5px;
	font-family: "Lato", sans-serif;
	color: black;
	text-align: center;
  }
  
  h2 {
	letter-spacing: 3px;
	font-family: "Lato", sans-serif;
	color: black;
	text-align: center;
	line-height: 1.3em;
  }
  
  p {
	color: black;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", sans-serif;
  }




.bottom {
	background-color: #d9d9d9;
	text-align: center;
	padding: 1px 20px 40px;
}
  
.socials {
	word-spacing: 1em;
}
  
a.fa {
	text-decoration: none;
	font-size: 130%;
	color: black;
}
  
a.fa:hover {
	opacity: 0.7;
}



.w3-top {
	background-color: rgba(255, 255, 255, 0.5);
}


.dropdown {
	float: left;
	overflow: hidden; 
	border: none;
	outline: none;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }

  .dropdown-submenu {
	position: relative;
  }
  
  .dropdown-submenu .dropdown-content {
	top: 0;
	left: 100%;
	margin-top: -1px;
  }

  .dropthree-submenu {
	position: relative;
  }
  
  .dropthree-submenu .dropdown-content {
	top: 50;
	left: 100%;
	margin-top: -1px;
  }

  /* Dropdown content (hidden by default) */
  .dropdown-content {
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	float: none;
	color: black;
	background-color: #f9f9f9;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
	background-color: #ddd;
  }

.flex-container {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	justify-content: center; 
	align-items: center; 
  
	background-color: black;
	padding: 5px;

	position: absolute;
	left: 20%;
	right: 20%;
	top: 35%; /* move the box up or down */
}

.abtflex-container {
	display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
	justify-content: center; 
	align-items: center; 
  
	background-color: black;
	padding: 5px;

	position: absolute;
	left: 20%;
	right: 20%;
	top: 25%; /* move the box up or down */
}

.heading-home {
	padding: 2%;
	color: white;
	font-size: 50px;
	letter-spacing: 10px;
	line-height: 60px;
	text-align: center;
	/* font-family: "Fredericka the Great", cursive; */
}

.main-message,
.img-abt,
.img-cla,
.img-int {
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-color: black;
	background-size: cover;
	min-height: 750px; 

  /* for parallax scrolling effect */
 	background-attachment: fixed;
}

.main-message {
	background-image: url("images/ajas.jpeg");
}

form {
	text-align: center;
}

.img-abt {
	background-image: url("images/about.jpg");
}

.text-section {
	background-color: white;
	padding: 10px 45px;
	text-align: center;
  }

.element-row {
	display: flex;
  }
  
  .profile-pic {
	width: 180px;
	height: 170px;
  }

.img-cla {
	background-image: url("images/classes.jpeg");
}

.img-int {
	background-image: url("images/int.JPG");
}


.preamble {
	display: flex;
	padding: 4%;
  }
  .toc-container {
	border: 1px solid #a2a9b1;
	background-color: #404040;
	font-size: 25px;
  }
  .toc {
	display: table;
	padding: 7px;
	flex: 0 1 auto;
	color: white;
  }
  .toc li {
	font-family: "Source Sans Pro", sans-serif;
  }
  .toc a:-webkit-any-link {
	color: #b3b3ff;
	text-decoration: none;
	cursor: pointer;
	text-decoration: underline;
  }
  
  .toc a:hover {
	color: yellow;
  }

  .bullet-class {
	list-style-position: inside;
  }

  .class-list {
	list-style-position: inside;
	text-align: left;
	margin-left: 40%;
  }



  /* Holds all elements related to the action item list; inside the action-list-container */
#checklist {
	background-color: white;
	border-radius: 15px;
	padding-top: 5px;
	padding-bottom: 15px;
	border-style: solid;
	border-color: yellow;
	/*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  }
  

  /* The div container for the unordered action item list */
#my-list {
	padding: 10px 0 0 0;
	margin: 0;
	font-size: 10pt;
  }
  
  /* Styling for individual action list items */
  #my-list li {
	cursor: pointer;
	padding-top: 8px;
	padding-right: 20px;
	padding-bottom: 8px; 
	padding-left: 35px;
	position: relative;
	list-style-type: none;
	transition: 0.2s;
	width: 85%;
	color: black;
	/*border-style: dotted;*/ /*Uncomment to see the outline of the container*/
  }
  
  /* Styling for the check squares added at the beginning of each list item */
  #my-list li::before {
	content: "";
	position: absolute;
	border-color: #000000;
	border-style: solid;
	border-width: 2px;
	
	top: 15px;
	left: 13px;
	height: 10px;
	width: 10px;
  }

  /* Change background color when cursor hovers over list items */
#my-list li:hover {
	background: #000000;
	color: #ffffff;
  }
  
  /* Change check square color when cursor hovers over */
  #my-list li:hover::before {
	border-color: #ffff00;
	border-style: dotted;
  }
  
  /* When marked complete (i.e. clicked on) add strikethrough */
  #my-list li.all-done {
	text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  #my-list li.all-done::before {
	content: "";
	position: absolute;
	border-color: red;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 5px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
  }

  h1 {
	letter-spacing: 5px;
	font-family: "Lato", sans-serif;
	color: black;
	text-align: center;
  }
  
  h2 {
	letter-spacing: 3px;
	font-family: "Lato", sans-serif;
	color: black;
	text-align: center;
	line-height: 1.3em;
  }
  
  p {
	color: black;
	font-size: 20px;
	text-decoration: none;
	font-family: "Lato", sans-serif;
  }




.bottom {
	background-color: #d9d9d9;
	text-align: center;
	padding: 1px 20px 40px;
}
  
.socials {
	word-spacing: 1em;
}
  
a.fa {
	text-decoration: none;
	font-size: 130%;
	color: black;
}
  
a.fa:hover {
	opacity: 0.7;
}