
body {
    background-color: #a5d5e0;
    /* background-size: cover; */
}

#bg {
  position: absolute; left: 0px; top: 0px;
}
#bg img{
  width: 1440px;
  height: 780px;
}

#title {
  position: absolute; left: 530px; top: 30px;
  font-family: "Varela Round", sans-serif;
  color: darkblue;
  font-size: 40px;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
}

.transbox {
  position: absolute; left: 460px; top: 170px;
  background-color: rgba(0, 0, 0, 0.68);
  border: 1px solid black;
}
.transbox p {
  margin: 2%;
  font-weight: bold;
}
.sub {
  color: #8fe1ff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

  h2 {
    color: black;
    font-family: "Indie Flower", cursive;
    font-size: 35px;
  }

  #handrib {
    position: absolute; left: 0px; top: 0px;
  }

  .symp {
    position: absolute; left: 100px; top: 290px;
  }

  .symp a:hover {
    color: yellow;
  }

  #handtest {
    position: absolute; left: 1025px; top: 0px;
  }

  .causes {
    position: absolute; left: 1200px; top: 290px;
  }

  .causes a:hover {
    color: yellow;
  }

  #handpen {
    position: absolute; left: 600px; top: 390px;
  }

  .treat {
    position: absolute; left: 600px; top: 350px;
  }

  .treat a:hover {
    color: yellow;
  }