/* a minimalist set of CSS resets */

/* default to border-box */
/*
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}
*/

/* adjust typography defaults */

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

/*
.btn{
  width: 15rem;
  height: 15rem;
  background-color: white;
  color: rgb(252, 35, 7);
  position: relative;
  top: 10rem;
  left: -40rem;
  border-radius: 50% 50% 0 50%;
  border: 0.3rem dashed rgb(252, 35, 7);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  cursor: pointer;
}

.wall.change {
  transform:rotateX(80deg) translateY(30rem) translateZ(10rem);
  transition: transform 2s;
}

.letter{
  width: 15rem;
  height: 25rem;
  background-color: white;
  padding: 2rem 1rem 2rem 1rem;
  color: brown;
  box-shadow: 0 0 0.1rem white;
  font-size: 1.5rem;
  text-indent: 0.5rem;
  transform-origin: bottom;
}

.change .letter {
  transform: rotateX(-80deg);
  transition: transform 1s 2s; 
}
*/

.w3-bar {
  background-color: white;
  border-style: solid;
  border-color: black;
}
.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {
  cursor: pointer;
}

/* images and videos max out at full width */
/*
img,
video {
  height: auto;
  max-width: 100%;
}
*/

h1 {
  text-align: center;
  color: white;
}

.center iframe {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  border: 0px;
}

.sub {
  color: #ff3333;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 15px;
}

h2 {
  text-align: center;
  /* margin: 0px; ...doesn't work, idk why */
}

.toc-container,
.mw-warning,
.toccolours {
  border: 1px solid #a2a9b1;
  background-color: #404040;
  font-size: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
  text-align: center;
}
.toc {
  color: white;
}

table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-collapse: collapse;
}


tbody {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

tr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

td, th { /* td are data values, default left-align. th are header values, default bold and centered. */
  border: 0px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

/*
tr:nth-child(even) {
  background-color: #dddddd;
}
*/

.toc li {
  font-family: "Source Sans Pro", sans-serif;
  list-style-type: none; /* gets rid of bullet points */
}
.toc a:-webkit-any-link {
  color: #b3b3ff;
  cursor: pointer;
  text-decoration: underline;
}

.toc a:hover {
  color: yellow;
}

.catalog-entries {
  display: flex;
}

.art {
  border: 1px solid #a2a9b1;
}

.transbox {
  display: flex;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid black;
  flex: 1;
}
.transbox p {
  margin: 2%;
  font-weight: bold;
}

.glitch-embed-wrap {
  display: block;
  margin-left: auto;
  margin-right: auto;
}